body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

.dashboard-container,
.attendance-records {
  width: 85%;
  height: 25%;
  margin: 100px auto;
  background: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  text-align: center;
}

h1,
h2 {
  font-size: 50px;
  margin: 30px;
}

button {
  margin-top: 10px;
  padding: 10px;
  background: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 3px;
}

button:hover {
  background: #0056b3;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th,
td {
  /* padding: 8px;
  border-bottom: 1px solid #ddd;
  text-align: left; */
  padding: 8px;
  border-bottom: 1px solid #ddd;
  text-align: left;
  height: 47px;
  font-size: 35px;
}

th {
  background-color: #e2e2e2;
}

/* .data tr{
  display: flex;
  align-items: center;
  flex-direction: column;
} */